In [119]:
import pandas as pd
import numpy as np
import regex

In [120]:
data=pd.read_csv('taxa.tsv',sep='\t')
feature_table = pd.read_csv("biomtxt/table.from_biom.tsv", sep='\t')
data

,Feature ID,Taxon,Confidence
0,c23d918bc9dfc2aab79811863600f052,k__Bacteria; p__Bacteroidetes; c__Bacteroidia;...,0.998789
1,f1d1fc32f9fb2d687c155b6d12599554,k__Bacteria; p__Bacteroidetes; c__Bacteroidia;...,1.000000
2,8ccde3af6976e7fe31372774390a11af,k__Bacteria; p__Deferribacteres; c__Deferribac...,1.000000
3,cb256b84b210660cec60650fb37bfed4,k__Bacteria; p__Bacteroidetes; c__Bacteroidia;...,1.000000
4,85bda77eca5b677d7fd2097d2656c572,k__Bacteria; p__Bacteroidetes; c__Bacteroidia;...,1.000000
...,...,...,...
11503,f24e635d6f2c80ee39b628370fb91a06,k__Bacteria; p__Firmicutes; c__Clostridia; o__...,0.998440
11504,aa974713b836f0414c37af78c4f9b83b,k__Bacteria; p__Tenericutes; c__Mollicutes; o_...,0.999952
11505,4ef66ba0d1a876ffbc24f06cc37d7b15,k__Bacteria; p__Firmicutes; c__Bacilli,0.999998
11506,0d7f13b5df8ec14d4f1b5d416764d9a6,k__Bacteria; p__Proteobacteria; c__Alphaproteo...,1.000000
11507,9c780845cb84af1cbf8b941cb898c30c,Unassigned,0.960818

In [121]:
data = data.drop(["Confidence"], axis=1)
data = data.rename(columns={'Feature ID': 'OTUID'})
data = data.set_index('OTUID')
diff_appr = data
diff_appr

                                                                              Taxon
OTUID
c23d918bc9dfc2aab79811863600f052  k__Bacteria; p__Bacteroidetes; c__Bacteroidia;...
f1d1fc32f9fb2d687c155b6d12599554  k__Bacteria; p__Bacteroidetes; c__Bacteroidia;...
8ccde3af6976e7fe31372774390a11af  k__Bacteria; p__Deferribacteres; c__Deferribac...
cb256b84b210660cec60650fb37bfed4  k__Bacteria; p__Bacteroidetes; c__Bacteroidia;...
85bda77eca5b677d7fd2097d2656c572  k__Bacteria; p__Bacteroidetes; c__Bacteroidia;...
...                                                                             ...
f24e635d6f2c80ee39b628370fb91a06  k__Bacteria; p__Firmicutes; c__Clostridia; o__...
aa974713b836f0414c37af78c4f9b83b  k__Bacteria; p__Tenericutes; c__Mollicutes; o_...
4ef66ba0d1a876ffbc24f06cc37d7b15             k__Bacteria; p__Firmicutes; c__Bacilli
0d7f13b5df8ec14d4f1b5d416764d9a6  k__Bacteria; p__Proteobacteria; c__Alphaproteo...
9c780845cb84af1cbf8b941cb898c30c                                         Unassigned

[11508 rows x 1 columns]

In [122]:
diff_appr
diff_appr['Taxon'].replace({r";": ',' }, inplace= True, regex = True)
lst = []
for i in diff_appr.iloc[0:,0]:
    new1 = i.split(",")
    if len(new1) == 7:
        del new1[6]
        if new1[5] == ' g__':
            del new1[5]
            if new1[4] == ' f__':
                del new1[4]
                if new1[3] == ' o__':
                    del new1[3]
                    if new1[2] == ' c__':
                        del new1[2]
                        if new1[1] == ' p__':
                            del new1[1]
                            if new1[0] == ' k__':
                                del new1[0]
    lst.append(new1[-1])
diff_appr["result"] = lst
#diff_appr

In [123]:
new = pd.merge(diff_appr, feature_table, on="OTUID")
new

,OTUID,Taxon,result,1,100,101,102,103,104,105,...,89,90,91,92,93,94,95,96,97,99
0,c23d918bc9dfc2aab79811863600f052,"k__Bacteria, p__Bacteroidetes, c__Bacteroidia,...",o__Bacteroidales,123.0,350.0,78.0,138.0,111.0,157.0,0.0,...,39.0,0.0,69.0,102.0,75.0,0.0,75.0,0.0,0.0,94.0
1,f1d1fc32f9fb2d687c155b6d12599554,"k__Bacteria, p__Bacteroidetes, c__Bacteroidia,...",g__Odoribacter,118.0,81.0,0.0,87.0,163.0,199.0,127.0,...,127.0,48.0,103.0,122.0,38.0,80.0,84.0,0.0,0.0,101.0
2,8ccde3af6976e7fe31372774390a11af,"k__Bacteria, p__Deferribacteres, c__Deferribac...",g__Mucispirillum,0.0,157.0,38.0,103.0,45.0,390.0,62.0,...,0.0,76.0,122.0,0.0,131.0,54.0,120.0,27.0,37.0,155.0
3,cb256b84b210660cec60650fb37bfed4,"k__Bacteria, p__Bacteroidetes, c__Bacteroidia,...",f__S24-7,0.0,95.0,85.0,146.0,264.0,124.0,0.0,...,154.0,0.0,92.0,95.0,117.0,76.0,0.0,64.0,0.0,177.0
4,85bda77eca5b677d7fd2097d2656c572,"k__Bacteria, p__Bacteroidetes, c__Bacteroidia,...",g__Odoribacter,90.0,77.0,0.0,68.0,159.0,108.0,109.0,...,0.0,41.0,117.0,86.0,61.0,65.0,84.0,0.0,0.0,99.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11503,f24e635d6f2c80ee39b628370fb91a06,"k__Bacteria, p__Firmicutes, c__Clostridia, o__...",o__Clostridiales,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11504,aa974713b836f0414c37af78c4f9b83b,"k__Bacteria, p__Tenericutes, c__Mollicutes, o_...",g__Anaeroplasma,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11505,4ef66ba0d1a876ffbc24f06cc37d7b15,"k__Bacteria, p__Firmicutes, c__Bacilli",c__Bacilli,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11506,0d7f13b5df8ec14d4f1b5d416764d9a6,"k__Bacteria, p__Proteobacteria, c__Alphaproteo...",f__mitochondria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
11507,9c780845cb84af1cbf8b941cb898c30c,Unassigned,Unassigned,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [124]:
new = new.groupby('result').sum()
new = new.reset_index()
new = new.rename(columns={'result': 'Taxa'})
new.to_csv("out.csv", index=True)